.board {
    display: flex;
    width: 40%;
    flex-wrap: wrap;
    min-width: 450px;
    max-width: 500px;
        
}

.container {
    display: flex;
}

.board-grid {
    width: 33.33%;
    border: 1px solid black;
    box-sizing: border-box;
}

.grid-content {
    width: 100%;
    padding-top: 100%;
    position: relative;
}

.marker {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 120px;
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}